name: CI Quality Gate EliCrochet

on: [push, pull_request]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - name: Install Dependencies
        run: composer install --prefer-dist --no-progress
      - name: Run Tests
        run: php artisan test --coverage-text --min=60 # Falla si la cobertura es < 70%
      - name: Static Analysis
        run: php artisan insights --min-quality=80 --no-interaction # Falla si la calidad es < 80